body {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
}

.chat {
  margin: 26px 16px;
}

.wrap-profile {
  position: relative;
  display: flex;
}

.wrap-profile .img-writer {
  width: 42px;
  height: 42px;
  margin-right: 12px;
}

.wrap-profile .wrap-right {
  padding-top: 4px;
  height: 38px;
  width: 304px;
}

.wrap-profile .wrap-right .user-name {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}

.wrap-profile .wrap-right .user-id {
  font-size: 12px;
  margin-top: 2px;
  line-height: 14px;
  color: #767676;
}

.wrap-profile .wrap-right .chat-decs {
  font-size: 12px;
  margin-top: 2px;
  line-height: 14px;
}

.wrap-profile .wrap-right .chat-date{
  font-size: 10px;
  margin-top: 2px;
  line-height: 14px;
}

.wrap-chatsummury {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
  color: #767676;
}