.main-profile {
  background-color: #FFFFFF;
  text-align: center;
  padding: 30px 20px 26px 20px;
  color: #767676;
}

.main-profile .wrap-profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 16px;
  color: #767676;
}

.main-profile strong {
  color: black;
  font-weight: 700;
}

.cont-followers, .cont-followings{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap-profile .number-follow {
  font-size: 18px;
}

.wrap-profile .txt-follow {
  margin-top: 6px;
  font-size: 8px;
}

.main-profile .name-user {
  font-size: 16px;
}

.main-profile .id-user {
  display: block;
  font-size: 12px;
  font-weight: 400;
  margin: 6px 0px 16px 0px;
}

.main-profile .desc-user {
  color: #767676;
  font-size: 14px;
  line-height: 17px;
  margin: 0px 21px 24px;
}

.main-profile .my_profile{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-profile .my_profile .btn{
  margin: 0px 10px;
}

.main-profile .my_profile .btn-chat, .main-profile .my_profile .btn-share {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 30px;
}

.other_profile {
  display: none;
}

.main-profile .btn {
  width: 120px;
  height: 34px;
  font-size: 14px;
  line-height: 17px;
}

.main-profile .btn-post {
  margin-left: 12px;
}

.wrap-items {
  background-color: #FFFFFF;
  margin-top: 6px;
  padding: 20px 0px 20px 20px;
}

.wrap-items .txt-tit {
  padding-bottom: 16px;
}

.wrap-items .slider {
  display: flex;
  overflow-x: scroll;
}

.wrap-items .product {
  margin-right: 10px;
}

.wrap-items .product:last-child {
  margin: 0;
}

.feed {
  margin-top: 6px;
  background-color: #FFFFFF;
}

.feed .wrap-view{
  display: flex;
  padding: 12px 24px;
  justify-content: flex-end;
  border-bottom: 0.5px solid #DBDBDB;
}

.feed .wrap-view button {
  margin-left: 20px;
}

.feed .wrap-view .off-view {
  display: none;
}

.feed .list-post, .feed .grid-post {
  padding: 16px 16px 30px 20px;
}

.feed .grid-post {
  padding: 16px;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.feed .grid-post .cont-grid img {
  width: 100%;
  background-color: red;
}

.feed .grid-post .cont-grid{
  display: block;
  position: relative;
}

.cont-grid::after {
  content: url('../images/icon/iccon-img-layers.png');
  width: 20px;
  height: 20px;
  display: block;
  top: 6px;
  right: 6px;
  position: absolute;
}