body{
  background-color: #FFFFFF;
}

.lst-follower {
  background-color: #FFFFFF;
  padding: 24px 16px;
  /* height: calc(100vh - 156px); */
}

.lst-follower .wrap-profile {
  margin-bottom: 16px;
}

.lst-follower .wrap-profile>li:last-child{
  margin: auto 0 auto auto;
}

