#product-upload-page {
  background-color: #ffffff;
}

#product-upload-page .container {
  background-color: #ffffff;
  padding: 0 34px; 
  display: flex;
  justify-content: center;
}

.formStyle {
  width: 100%;
}

#save-btn {
  margin-right: 16px;
}

.img-container {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 10px;
  color: #767676;
  font-size: 12px;
  line-height: 14px;
}

#product-img-box {
  width: 100%;
  height: 204px;
  margin-top: 18px;
  border: 0.5px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #F2F2F2;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
}

#product-img-box > img {
  width: inherit;
  height: fit-content;
}

.form-user label {
  font-weight: 500;
  color:#767676;
  font-size: 12px;
  line-height: 15.02px;
}

#product-img-btn {
  position: absolute;
  bottom: 12px;
  right: 12px;
  z-index: 999;
}

#productImgInput {
  z-index: -99999;
  bottom: 100000px;
  position: absolute;
  width: 1px;
  height: 1px;
  outline: none;
  border: none;
}
