#followPage{
  background-color: #FFFFFF;
}

.top-nav .wrap-top-nav.follow-head {
  display: flex;
  justify-content: flex-start;
}

.tit-follow {
  font-weight: 400;
  font-size: 14px;
  padding-left: 15px;
}

.lst-follower {
  background-color: #FFFFFF;
  padding: 24px 16px;
}

.lst-follower .wrap-profile {
  margin-bottom: 16px;
}

.lst-follower .wrap-profile>li:last-child{
  margin: auto 0 auto auto;
}

