/* 지승 모듈css 시작 */
body {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
}

.home-post {
  position: relative;
}

.home-post .wrap-profile{
  display: flex;
}

.home-post .wrap-profile .img-writer {
  width: 42px;
  height: 42px;
  margin-right: 12px;
}

.home-post .wrap-profile .wrap-right {
  padding-top: 4px;
  height: 38px;
  width: 304px;
}

.home-post .wrap-profile .wrap-right .user-name {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 18px;
}

.home-post .wrap-profile .wrap-right .user-id {
  font-size: 12px;
  margin-top: 2px;
  line-height: 14px;
  color: #767676;
}

.home-post .wrap-profile .wrap-right .btn-more {
  height: 17px;
}

.home-post .main-feed {
  position: relative;
  width: 304px;
  margin-top: 16px;
  margin-left: 54px;
}

.home-post .main-feed .txt-feed {
  font-size: 14px;
  line-height: 18px;
}

.home-post .main-feed .img-feed {
  margin-top: 16px;
  width: 304px;
  height: 228px;
  border-radius: 10px;
  background:#C4C4C4;
  border: 0.5px solid #DBDBDB;
}

.home-post .main-feed .wrap-reaction {
  display: flex;
  margin-top: 15px;
  margin-bottom: 18px;
}

.home-post .main-feed .wrap-reaction li {
  display: flex;
  align-items: center;
  height: 15px;
}

.home-post .main-feed .wrap-reaction li img {
  width: 15px;
  margin-right: 8px;
}

.home-post .main-feed .wrap-reaction li span {
  color: #767676;
  font-size: 12px;
  margin-right: 18px;
}

.home-post .main-feed .txt-date {
  font-size: 10px;
  line-height: 12px;
  color: #767676;
}

.product {
  width: 140px;
}

.product .img-product {
  width: 140px;
  height: 90px;
  border-radius: 8px;
  background: #C4C4C4;
  border: 0.5px solid #DBDBDB;
}

.product .tit-product {
  margin-top: 6px;
  font-size: 14px;
  line-height: 18px;
}

.product .price-product {
  margin-top: 4px;
  color: #F26E22;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

/* 지승 모듈css 끝 */

/* 효순 모듈css 시작 */
.btn {
  position: absolute;
  width: 322px; height: 44px;
  left: 0%; right: 0%; top: 0%; bottom: 0%;
  background-color: #F26E22;
  border-radius: 44px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 17.53px;
}

.disabled {
  background-color: #FFC7A7;
}

.activ {
  background-color: #FFFFFF;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  color: #767676;
}

.M-button, .M-Disabled-button, .M-Activ-button {
  width: 120px; height: 34px;
}

.Ms-button, .Ms-Disabled-button {
  width: 90px; height: 32px;
}

.S-button, .S-Activ-button {
  width: 56px; height: 28px;
  font-size: 12px;
  line-height: 15px;
}

.basic-profile {
  width: 36px; height: 36px;
}

.img-button {
  width: 36px; height: 36px;
  background: url("../images/img-button.png");
}

.upload-file {
  width: 50px; height: 50px;
  background: url("../images/upload-file.png");
}

.x {
  width: 11px; height: 11px;
}

.chat-icon-message-circle {
  width: 20px; height: 20px;
}
/* 효순 모듈 끝 */
