.page-404 {
    background-color: white;
    position: relative;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.page-404 .icon-404 {
    margin: 202px 0 32px 0;
}
.page-404 p {
    color: #767676;
    margin-bottom: 20px;
}

.page-404 .M-button {
    width: 120px;
    height: 44px;
    font-weight: 500;
}

