/* top-main-nav */
.top-main-nav {
  width: 100%;
  height: 48px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

.title-menu {
  font-weight: bold;
  margin: 13px 16px;
}

.btn-search {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin: 12px 16px;
  background-image: url("../assets/icon/icon-search.png");
}

/* top-main-nav */
.top-upload-nav {
  width: 100%;
  height: 48px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

.btn-back {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin: 12px 16px;
  background-image: url("../assets/icon/icon-arrow-left.png");
}

.btn-save, .btn-follow{
  width: 30%;
  height: 32px;
  border-radius: 44px;
  margin: 0 16px;
  background-color: #F26E22;
  color: white;
}

/* comment */
.wrap-comment {
  width: 100%; 
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.profile-comment {
  margin-left: 16px;
}

.form-comment{
  display: inline-flex;
}

.input-comment .input-email {
  border-bottom-color: rgba(219, 219, 219, 1);
}

.input-comment {
  margin-left: 18px;
}

.input-comment .active {
  padding: 0 0 8px 0;
  border-bottom-color: rgba(242, 110, 34, 1);
}

.btn-send {
  width: 24px;
  height: 24px;
  display: block;
  color: rgba(196, 196, 196, 1);
}

/* test-input */
.form-email {
  display: block;
  font-size: 12px;
  font-weight: 500;
  color: rgba(118, 118, 118, 1);
}
